/*font-family: 'Fira Sans', sans-serif;*/
*{
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  color: #34404b;
}
body{
  background-color: #f4f6f8;
}
header{
  background-color: #fff;
}
a{
  text-decoration: none;
  color: inherit;
}
button{
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}
ul{
  list-style-type: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
*:focus{
  outline-color: #000;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
hr{
  height: 1px;
  color: #e6e8eb;
  opacity: 0.6;
}
.container{
  width: 100%;
  padding: 0 15px;
  max-width: 1540px;
  margin: 0 auto;
}
.container--header{
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  align-items: center;
  height: 60px;
}
.container--navigation{
  position: relative;
  height: 120px;
  display: flex;
  align-items: center;
}
.ico{
  color: #ff5912;
  margin-right: 10px;
}
/*header*/
.contact_btn:hover{
  color: #ff5912;
}
.social{
  display: flex;
}
.social_item{
  font-size: 12px;
  margin-left: 20px;
}
.social_item i:hover{
  color: #ff5912;
}
/*header close*/

/*navigation*/
.navigation{
  background-color: #ffffff;
}
/*logo*/
.navigation_logo{
  display: block;
  max-width: 120px;
  max-height: 23;
}
.navigation_logo img{
  width: 100%;
  height: auto;
}
/*logo close*/

/*navigation_menu*/
.navigation_menu{
  margin-left: 6%;
  display: flex;
  justify-content: space-between;
  min-width: 430px;
  height: 10px;
  font-size: 16px;
  font-weight: 400;

}
.menu_link:hover{
  color: #ff5912;
}

/*navigation_helper*/
.navigation_helper{
  position: absolute;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.navigation_helper-btn{

}
/*navigation*/

/*previews*/
.preview{
  background: url("../img/preview/preview.png") no-repeat center;
  background-size: cover;
  height: 650px;
  overflow: hidden;
}
.container--preview{
  height: 100%;
  display: flex;
  align-items: center;
}
.previews_slider{
  width: 700px;
  height: 250px;
  overflow: hidden;
}

/*slider*/
.slider_item{
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.slider_title{
  color: #ff7013;
  font-size: 52px;
  font-weight: 900;
  text-transform: uppercase;
}
.slider_text-title{
  font-size: 18px;
  font-weight: 500;
}
.slider_text-description{
  color: #495662;
  font-size: 14px;
  font-weight: 100;
}
.slider_buy{
  display: flex;
}
.slider_price{
  font-size: 18px;
  font-weight: 400;
}
.slider_btn{
  margin-left: 10px;
  display: flex;
  font-size: 16px;
  color: #ff5912;
}
.slider_btn img{
  margin-right: 5px;
}

/*slider close*/

/*preview Slick*/
.previews_slick{
  position: relative;
}
.previews_slick .slick-dots{
  position: absolute;
  top: 50px;
  left: 0px;
}
.previews_slick .slick-dots li{
  height: 30px !important;
  width: 5px !important;
  background: #fff;
  margin: 5px 0;
  cursor: pointer;
}
.previews_slick .slick-dots li button{
  display: block;
  font-size: 0;
  width: 5px;
  height: inherit;
}
.previews_slick .slick-dots li:hover{
  background-color: #ff5912;
}
.previews_slick .slick-dots li:focus{
  outline: none;
  background-color: #ff5912;
}
.previews_slick .slick-dots li button:focus{
  outline: none;
}
.previews_slick .slick-active{
  background-color: #ff5912 !important;
}
.previews_slick .slick-current{
  background: none !important
}
.previews_slick .slick-active:focus{
  outline: none;
}
.previews_slick .draggable{
  position: absolute;
  left: 100px;
}
/*Slick close*/
/*previews close*/

/*New ariivals*/

/*section_header*/
section{
  background-color: #f4f6f8;
}
.section_header{
  padding-top: 100px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section_header-title{
  padding-bottom: 30px;
  color: #34404b;
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
}
.section_header-title b{
  font-weight: 900;
  color: #ff5912;
}
.section_header-text{
  color: #495662;
  font-size: 16px;
  font-weight: 300;
}
/*section_header close*/

/*list_clothing*/
.list_group{
  display: flex;
  justify-content: space-between;
}
.list_item{
  width: 270px;
  height: 365px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: #fff;
  margin-bottom: 20px;
}
.list_item-img{
  width: 54%;
  height: 59%;
}
.list_item:hover .list_item-img{
  width: 26%;
  height: 24%;
}
.list_item-text{
  color: #34404b;
  font-size: 18px;
  font-weight: 700;
}
.list_item:hover .list_item-text{
  color: #ff5912;
}
.list_item-price{
  display: flex;
  color: #ff5912;
  font-size: 18px;
  font-weight: 700;
}
.list_item:hover .list_item-price{
  display: none;
}
.list_item:hover .list_item-bottom{
  display: flex;
}
.list_item-bottom{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  height: 140px;
}
.list_item-bottom hr{
  width: 100%;
}
.list_item-btns{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.list_item-btn i{
  font-size: 20px;
  color: #444f59;
}
.list_item-btn:hover i{
  color: #ff5912;
}
/*list_more*/
.list_more{
  width: 100%;
  height: 60px;
  margin-bottom: 120px;
  margin-top: 80px;
}
.list_button{
  width: 100%;
  height: 60px;
  background: #fff;
}
.list_button i{
  color: #ff5912;
  font-size: 50px;
  font-weight: 600;
}






/*Media*/
@media  (max-width:1230px){
  .list_item{
    width: 220px;
    height: 315px;
  }
}
@media  (max-width:990px){
  .list_group{
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .list_item{
    margin: 40px;
    width: 270px;
    height: 365px;
  }
}
@media (max-width:770px){
  .list_item{
    margin: 10px;
  }
}
